      <footer class= "bg-divgray absolute inset-x-0 bottom-0 px-10 pb-8 text-white">
         <div class="flex justify-between mb-3 mt-6">
            <nav class="flex-col text-white text-1.5xl space-y-5">
               <%= link_to "Home", pages_index_path, class: "flex" %>
               <%= link_to "About", pages_about_path, class: "flex" %>
               <%= link_to "Sign in", pages_signin_path, class: "flex" %>
            </nav>
            <div class="flex flex-col justify-end">
               <span class="object-none object-right-bottom">
               New Amsterdam Street #200 <br>
               New York City, NY, USA <br>
               00 1 222 333 444 555 <br>
               00 1 222 333 444 555 <br>
               build@skyscraper.com <br>
               Info@skyscraper.com
               </span>
            </div>
         </div>
         <span class="flex justify-center">
         2021©All Rights Reserved. New Amsterdam Skyscrapers LTD.
         </span>
      </footer>