    <body class="bg-skyscrapers bg-cover">
      <div class="flex justify-center">
         <div class="flex-col space-y-9 mt-24">
            <span class="text-4xl">
               <h1><b>We build Skyscrapers!</b></h1>
               <br>
               <h2 class="text-gray-600">Sign in for a consultation.</h2>
            </span>
            <br>
            <%= button_to pages_signin_path, class: "bg-divgray rounded w-64 h-12 text-xl text-white" do %>
                Sign in
            <% end %>
         </div>
      </div>
    </body>
