
 <div class="flex justify-center">
    <form action="#" class="flex flex-col content-center text-center">
        <h1>Sign In</h1>
        <input size="50" type="text" placeholder="Enter Email" name="email" class="text-center outline-black" required>
        <input  size="50" type="password" placeholder="Enter Password" name="psw" class="text-center outline-black" required>
        <button  id= "sign_in_button" type="submit" class="signinbtn">Sign In</button>
    </form>
</div>


